<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welome page</title>
    <style>
        * { text-align: center; margin: 0; padding: 0; font-family: Arial,
        Helvetica, sans-serif; color: #333; } img { height: 300px; margin: 15px;
                                                  margin-bottom: 0px; border-radius: 7px; } h4,h6 { margin: 15px; } body {
                                                                                                                        padding: 50px; width: 100%; } .page { padding-top: 15px; text-align:
                center; position: relative; background-color: #FB5607; margin: auto;
                                                                                                                                                          overflow: hidden; } .footer { background-color: #eee; padding: 15px;
                                                                                                                                                                                  color: #333; } .page p { padding-bottom: 15px; } .container * { color:
                #eee; } .page .footer h4 { padding-top: 15px; } .logo { text-align: left;
                                                                    margin-left: 50px; margin-top: 10px; font-size: 25px; font-weight: bold;
                                                                    color: white; } a { text-decoration: none; color: white; font-weight:
                bold; text-transform: uppercase; padding: 15px; border-radius: 10px; } h6{
                                                                                           font-size: 14px; } .line { width: 70%; margin: auto; height: 0.2px;
                                                                                                                  background-color: #bbb; margin-bottom: 30px; } .btn { width: 200px;
                                                                                                                                                                     background-color: rgb(0, 0, 93); margin: auto; padding-top: 15px;
                                                                                                                                                                     padding-bottom: 15px; border-radius: 15px; } .container { padding-bottom:
                40px; color: white; width: 600px; margin: auto; } p { width: 500px;
                                                                      margin: auto; margin-top: 15px; margin-bottom: 15px; }
    </style>
</head>
<body>
<div class="page">

    <div class="logo">Ghost Kitchen</div>
    <div class="container">
        <h4>Dear {{name}}</h4>
        <h2>Congratulations! Your email address has been successfully verified.</h2>
        <img
                src="https://firebasestorage.googleapis.com/v0/b/projet-4eme.appspot.com/o/uploads%2Fchefs%2Flogo-projet.png?alt=media&token=a6089ab5-f610-486c-92a4-e8f52e532f87"
                alt=""
        />
        <p>
            You can now access all the features and benefits our platform offers. We are excited to have you as a part of our community.
            If you have any questions or need further assistance, feel free to contact our support team at [Support Email].
            Thank you for verifying your email address.
        </p>
    </div>
    <div class="footer">
        <h4>Thank you for choosing Ghost Kitchen</h4>
        <h6>Best regards</h6>
        <p>
            Enjoy exploring our services with the assurance of secure and reliable access. Thank you for choosing us - we’re glad to have you with us!
        </p>
        <div class="line"></div>
    </div>
</div>

</body>
</html>